html{
    height: 100%; 
}

body{  
    margin: 0;
    height: 100%;
	font-family: 'Arial', sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 17px;
} 
/*
h3{
	padding: 10px;
	border-radius: 6px;
    opacity: 0.9;
    color: white;
	background-color: steelblue;
}*/

#successSaved{		
	position: absolute;
    z-index: 1;
    left: 50%;
    bottom: 10px;
    padding: 10px;
    border-radius: 6px;
    opacity: 0.9;
    color: white;
    display: none;
    background-color: steelblue;
}

#comment{
	color: black;
	font-size: 15px;
}

#first{ 
    margin: 0;
    min-height: 90%; 
    background-repeat:no-repeat;
	background-size: cover;
	background-position:center; 
    position: relative;
} 

#first-nav{        
    text-align: right;
    width: 100%;
    background-color: white;
    padding-right: 10%;
    padding-top: 10px;
    padding-bottom: 10px; 
    font-size: 120%;  
    min-height: 5%;   
}

#first-content{  
    padding-top: 5%;
    padding-bottom: 10%;
    height: auto;
}

#first-content h1{
    font-size: 270%;
    color: ghostwhite; 
}

.logo {  
    width: 600px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}   

#autocomplete autocomplete{
    
}
#custom-search-input{
    width: 40%;   
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{  
    border: 0;
    box-shadow: none;
}

#custom-search-input a{ 
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input a:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc; 
    color: forestgreen;
}

#custom-search-input a:active{ 
     border: 0;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}

#second{
    width: 100%;
    margin: 0;
    min-height: 70%;  
    text-align: center;  
	margin: 0 auto;
}

#second h1{
    color:black;
    margin: 2%;
}  

.img-wrap{  
    display: inline-block; 
}

#map{    
    min-height: 25%; 
    margin: auto;
}

hr {
    display: block;
    position: relative;
    padding: 0;
    margin: 0;
}

#description-text{ 
    display: block;
    width: inherit;
    position: absolute;  
    left: 5%;
    bottom: 10%;    
    font-size: 150%;
    color: #fff;
}

#third{ 
    margin: 0;
    min-height: 30%;
    background-color: #e9f1f0; 
    font-size: 150%;
} 
 
#third h1{ 
    text-align: left;
    color: forestgreen;
    font-size: 200%;
}
 
#fourth{
    min-height: 5%;
    padding-top: 5px;
    text-align: center; 
    background-color: black;
}

#footer p{
    margin: 0;
    padding: 0;
}

#addressPriceList {
    list-style-type: none;
    display: inline;
}
 
.social {
    margin: 0;
    padding: 0;
}

.social ul {
    margin: 0;
    padding: 5px;
}

.social ul li { 
    margin: 0;
    padding: 0;
    display: inline-block; 
}

.social i {
    width: 40px;
    height: 40px;
    color: #FFF;
    background-color: #909AA0;
/*    font-size: 22px;*/
    text-align:center;
    padding-top: 13px;
/*
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
*/
}

.social i:hover {
    color: #FFF;
    text-decoration: none;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

.social .fa-facebook:hover { /* round facebook icon*/
    background: #4060A5;
}

.social .fa-twitter:hover { /* round twitter icon*/
    background: #00ABE3;
}

.social .fa-google-plus:hover { /* round google plus icon*/
    background: #e64522;
}

#commentLine {
	font-size: 16px;
	margin: 5px 0px 5px 0px;
}

hr {
	margin: 0px;
	
}