html, body{ 
    height: 100%;
}

.controls {
margin-top: 10px;
border: 1px solid transparent;
border-radius: 2px 0 0 2px;
box-sizing: border-box;
-moz-box-sizing: border-box;
height: 32px;
outline: none;
box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 100%;
}

#pac-input:focus {
    border-color: #4d90fe;
}

.pac-container {
    font-family: Roboto;
}

#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
}

#type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}
 
.navbar-brand { 
    margin-top: 10px;
	background: url(../images/logo.png) left center no-repeat;
    background-size: cover; 
    width: 200px; 
}

.navbar.navbar-no-bg {
background: none;
    border: none;  
}
 

.navbar-toggle{
    margin-top: 15px;
    background:forestgreen;
    border: none;
}

#map{    
    min-height: 85%; 
}
 
#navigation{ 
    min-height: 5%;
}

#nav_text>li>a{    
    margin-top: 10px;
    color: forestgreen;
    font-size: 17px; 
    font-family: Montserrat;
}

#nav_text>li>a:hover{    
    color: orange;
}

#searcharea{  
    width: 100%;
    background-color: LightSteelBlue ;    
    box-shadow: 0px 2px 7px 2px gray;
    font-size: 15px;  
    margin-bottom: 5px;
}
   
.btn{
    background: none; 
    text-align: left;
    font-size: 15px; 
}

#searchbox{
    padding: 5px; 
    width: 400px;  
    float: left;
} 

#filter-item{
    padding: 5px;   
    border-right: thin solid white;
    float:left;
    font-family: Montserrat;
}

#filter-item>a:hover{
    color: darkorange;
}

#filter-item>a{
    color: forestgreen;
}

.stylish-input-group .input-group-addon{    
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

.dropdown>ul{ 
    border: 0 !important;.  /*Removes border*/
    -webkit-appearance: none;  /*Removes default chrome and safari style*/
    -moz-appearance: none;  /*Removes default style Firefox*/ 
}
  