html{
    height: 100%; 
}

body{   
    height: 100%;
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	background-attachment:fixed; 
	background-image: url("../images/background.jpg");   
	font-family: 'Lato', sans-serif;
	color: #FFF;
	-webkit-font-smoothing: antialiased; 
}
 

#top_nav{        
    text-align: right;
    padding: 20px;
    font-size: 150%;  
    min-height: 10%;   
}
 

#mainbody{        
    min-height: 80%;
}

#bottom_nav{ 
    min-height: 10%;
}

.logo {  
    display: block;
    margin-left: auto;
    margin-right: auto  
}

#logo_div{  
    height: 100%;
    margin-top: 5%; 
    margin-bottom: 10px; 
}


#button_div{ 
    font-size: 250%;
}

/* Button */
.btn {  
	border-color: whitesmoke;
    border-width: medium;
    background: none; 
	font-family: inherit; 
	cursor: pointer; 
	text-transform: uppercase; 
    
	display: block;
    margin-left: auto;
    margin-right: auto;  
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn:after {
	content: ''; 
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

/* Pseudo elements for icons */
.btn:before,
.icon-heart:after,
.icon-star:after,
.icon-plus:after,
.icon-file:before {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none; 
	-webkit-font-smoothing: antialiased;
} 
    
.btn:hover,.btn:active {
    color: #000000;
    background: #ffffff;
}

.footnote{ 
	color: yellow;
	text-align: center;
	font-family:sans-serif;
}
  
