#custom-search-input{
    width: 50%;   
    display: block;
    margin-left: auto;
    margin-right: auto;     
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{  
    border: 0;
    box-shadow: none;
}

#custom-search-input a{  
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input a:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc; 
    color: forestgreen;
}

#custom-search-input a:active{ 
     border: 0;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}

#search-background{
    height: 100px;
    position: relative; 
    text-align: left;
    background-color: lightgray;
}

#clip{
    position: absolute;
    height: 100%;
    width: 100%;
}

#mainContent{
    background-color: lightgray;
    width: 75%;
    height: auto;
	padding: 15px 15px 15px 15px;
}

#topContent{
    padding-top: 12px;
    padding-left: 10px;
    height: 7.5%;
    width: 100%;
    left: auto;
    font-size: 20px;
    color: white;
    background-color: #228b22;
}

#profile{
    width: 200px;
    position: relative;
    margin: 0 auto;
    border-radius: 50%;
    top: -15%;
}

#profile img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    border: 3px solid gray;
}

#list{
    margin-top: 0px;
    position: relative;
    top:-10%;
    text-align: center;
    font-size: 1.5em;
}

.btn-warning{
    color: red;
}

#bodyContent{
    height: 100%;
}

@media(max-width: 767px){
    #sidebar{
    position: relative;
    height: 150%;
    float: left;
    background-color: lightgoldenrodyellow;
    }
    
    #bodyContent img{
        width: 320px;
        height: 240px;   
    }
    
    .houseInfo{
        text-align: center;
        margin: 0 auto;
        background-color: white;
        padding: 15px;
		margin: 10px 0px 10px 0px;
    }
}
@media(min-width: 768px){
    #sidebar{
    position: relative;
    width: 25%;
    height: 100%;
    float: left;
    background-color: lightgoldenrodyellow;
    }
    
    #bodyContent img{
        width: 240px;
        height: 200px;
        float: left;
        margin-right: 20px;
    
    }
    
    .houseInfo{
        height: 230px;
        position: relative;
        background-color: white;
        padding: 15px;
		margin: 10px 0px 10px 0px;
    }

}